.tableContainer {
    line-height: 2;
    max-height: 294px;
    overflow-y: auto;
    position: relative;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

.table-bordered {
    border: none;
}

.table-bordered th {
    border-width: 0 1px;
    background-color: #ced3d7;
    position: sticky;
    top: -1px;
    z-index: 2;
}

.table-bordered th, .table-bordered td {
    border: none;
    border-right: 2px solid #dee2e6;
}

.tdPlaceholder {
    text-align: center;
    line-height: 50px;
}

.idCell {
    width: 3%;
    text-align: center;
}

.urlCell {
    width: 51%;
}

th.urlCell {
    text-align: center;
}

.highlighted {
    background-color: #09f17680 !important;
}

.uniquenessCell {
    width: 16%;
    text-align: center;
}

.buttonCell {
    width: 10%;
    text-align: center;
    position: relative;
}

.buttonCell .btn-light:active {
    background-color: transparent !important;
}

.buttonCell .btn-light::before {
    content: '';
    position: absolute;
    left: -1px;
    right: -1px;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
}

.buttonCell .btn-light:hover::before {
    background-color: #e2e6ea;
    border-color: #e2e6ea;
}

.buttonCell .btn-light:active::before {
    background-color: #dae0e5;
    border-color: #dae0e5;
}

.buttonCell .btn-light:disabled:hover::before {
    background-color: transparent;
    border-color: #e2e6ea;
}

.buttonCell .btn-light:not(:disabled):not(.disabled):focus:active {
    box-shadow: none;
}

.buttonCell svg {
    margin-top: -4px;
}

.buttonCell .btn-light {
    background: transparent;
    border: none;
    width: 100%; /*?*/
    height: 100%;
    display: block;
}

.buttonCell .btn-light:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.btn-light:disabled {
    color: #6b6b6b;
}

.downloadButton, .downloadButton:focus {
    color: #5ca6f5;
}

.downloadButton:not(:disabled):hover {
    color: #1983ff;
}

.insufficient {
    color: #ff4e4e;
}

.sufficient {
    /*background-color: #fff;*/
}