.tableContainer {
    max-height: 300px;
    overflow-y: auto;
    position: relative;
    margin-bottom: 20px;
}

table {
    width: 100%;
    max-height: 200px;
    border-spacing: 0;
    border-collapse: separate;
}

.table-bordered th {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.tdPlaceholder {
    text-align: center;
    line-height: 50px;
}

.urlCell {
    width: 60%;
}

.equalityCell {
    width: 13%;
    text-align: center;
}

.buttonCell {
    width: 9%;
    text-align: center;
    position: relative;
}

.buttonCell .btn-light::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
}

.buttonCell .btn-light:hover::before {
    background-color: #e2e6ea;
    border-color: #e2e6ea;
}

.buttonCell .btn-light:active::before {
    background-color: #dae0e5;
    border-color: #dae0e5;
}

.buttonCell .btn-light:not(:disabled):not(.disabled):focus:active {
    box-shadow: none;
}

.buttonCell .btn-light > svg {
    margin-top: -4px;
}

.btn-light {
    background: transparent;
    border: none;
    width: 100%; /*?*/
    height: 100%;
}

.btn-light:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
}

.insufficient {
    background-color: #ff4e4e;
}

.sufficient {
    background-color: #fff;
}