.navbar-brand:focus-visible {
    outline: none;
}

.notesContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.notes {
    display: inline-block;
    margin-right: 20px;
}

.notification {
    transition: 0.4s all;
    opacity: 0;
}

.notificationActive {
    opacity: 1;
}

.notificationHidden {
    display: none;
}

.form-row {
    margin: 20px 0;
}

#urlTextarea {
    margin-bottom: 10px;
}

.input-group-text {
    resize: none;
    white-space: pre;
    text-align: left;
    overflow: hidden;
    min-height: 85px;
    width: 100%;
}

.input-group-text:focus-visible {
    outline: none;
}

.underTextarea {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.underTextarea p {
    margin: 0 0 0 20px;
}

.underTextarea input {
    margin-right: 20px;
}

.btn-dark {
    width: 50%;
    margin: 0 20px;
}

.btn-dark:focus {
    box-shadow: none !important;
}

.btn-dark:disabled {
    background-color: #848484;
    border-color: #848484;
    border-style: solid;
}

.editorFooter {
    display: flex;
    margin: 20px 0;
}