.popup {
    position: absolute;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    height: fit-content;
    transition: 0.4s all;
    opacity: 0;
    padding: 8px 13px 13px;
    border-radius: 10px;
    background-color: #f4d66ae3;
}

.popupHeader {
    display: flex;
    justify-content: space-between;
}

.popup p {
    margin: 0;
}

.popup button {
    display: flex;
    align-self: center;
    background-color: transparent;
    border: none;
}

.popup button:focus {
    outline: none;
}

.active {
    opacity: 1;
}

.url {
    text-decoration: underline;
}