.slate-container {
    margin-bottom: 20px;
    display: block;
}

.counters {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    display: flex;
    color: #8f8f8f;
}

.counters p {
    margin-bottom: 5px;
    margin-right: 20px;
}

.textarea {
    min-height: 200px; /*?*/
}

.textarea p {
    margin-bottom: 0;
}

.disabled {
    color: #a7a7a7;
    cursor: default;
}

.btn-secondary {
    margin: 2px;
}